:global {
  label {
    outline: none;
    margin: 0;
  }
  .sub-nav input {
    &:focus,
    &:active {
      border: none !important;
    }
  }
  /* Basic Starter */
  body,
  html {
    margin: 0;
    padding: 0;
  }
  .full-height {
    height: 100%;
  }
  .centered {
    text-align: center;
  }
  .right {
    text-align: right;
    &.float {
      float: right;
    }
  }
  .left {
    text-align: left;
    &.float {
      float: left;
    }
  }
  .tabled {
    display: table;
  }
  .tabled-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .white {
    background: #ffffff;
  }
  a {
    /* First we need to help some browsers along for this to work.
       Just because a vendor prefix is there, doesn't mean it will
       work in a browser made by that vendor either, it's just for
       future-proofing purposes I guess. */
    transition: 0.5s;
    outline: 0;
    color: #666;
    text-decoration: none;
  }
  a:hover,
  a:active,
  a:focus {
    outline: 0;
    text-decoration: none;
  }
  /* */
  nav a {
    transition: border-color 0.05s;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    &.sink {
      padding-bottom: 50px;
    }
    .row {
      margin: 40px 0;
    }
  }

  .tab-pane {
    padding: 15px;
  }

  .navbar-default,
  .panel-default > .panel-heading {
    background: none;
  }

  //PLUGINS

  .swiper-container {
    width: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #f1f1f1;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-next {
    right: 100px;
    @media only screen and (max-width: 768px) {
      right: 20px;
    }
  }
  .swiper-button-prev {
    left: 100px;
    @media only screen and (max-width: 768px) {
      left: 20px;
    }
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }

  //SLIDEOUT

  .slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 320px;
    overflow-y: scroll;
    z-index: 0;
    display: none;
    background: #333;
  }

  .slideout-menu-left {
    left: 0;
  }

  .slideout-menu-right {
    right: 0;
  }

  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #fff; /* A background-color is required */
    height: 100%;
  }

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }

  .slideout-open .slideout-menu {
    display: block;
  }

  //MAIN STYLES

  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5;
    -webkit-font-smoothing: antialiased;
  }

  #mainblock {
    background-color: $light-grey;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
  }
  .alert p {
    margin-bottom: 0;
  }

  p,
  ul,
  ol {
    margin: 0 0 30px;
    line-height: 24px !important;
  }

  img {
    max-width: 100%;
    margin-bottom: 30px;
    width: 100%;
  }

  .cd-header {
    .cd-menu-text {
      font-family: "Abel", sans-serif;
      font-weight: 400;
      font-size: 18px;
      margin-left: -10px;
      margin-right: 20px;
    }
  }

  .cd-header.is-fixed {
    background-color: $black;
  }

  a {
    color: $pink;
    &:hover,
    &:focus,
    &:active {
      color: $pink;
    }
  }

  .star {
    color: #f7b71d;
    margin-left: 5px;
    &.fa-star-o {
      color: #ddd;
    }
  }

  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    padding: 30px 20px;
  }

  span.bubble {
    font-size: 12px;
    background-color: #e84778;
    padding: 3px 8px;
    border-radius: 50px;
    position: relative;
    top: -1px;
    font-weight: 400;
    color: $white;
    margin-right: 3px;
  }

  .btn.btn-default.dropdown-toggle {
    background: none;
    border: 0;
    color: #fff;
    font-size: 20px;
    float: right;
    margin-top: 11px;
    span {
      font-size: 12px;
      background-color: $pink;
      padding: 3px 7px;
      border-radius: 50px;
      position: relative;
      top: -3px;
      font-weight: 700;
    }
    .image {
      width: 35px;
      height: 35px;
      border-radius: 20px;
      margin-top: -3px;
      background-size: cover;
    }
  }

  .btn-default.active.focus,
  .btn-default.active:focus,
  .btn-default.active:hover,
  .btn-default:active.focus,
  .btn-default:active:focus,
  .btn-default:active:hover,
  .open > .dropdown-toggle.btn-default.focus,
  .open > .dropdown-toggle.btn-default:focus,
  .open > .dropdown-toggle.btn-default:hover {
    background: none;
    color: #fff;
    border: 0;
    outline: 0;
    outline-offset: 0;
  }

  .dropdown-menu {
    top: 63px;
    border-radius: 0;
    width: 300px;
    padding: 0;
    margin: 0;
    .heading {
      background-color: $grey;
      padding: 10px 20px;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
    }
    &.menu-1 {
    }
    &.menu-2 {
      right: 55px;
    }
    &.menu-3 {
      right: 135px;
    }
  }

  .container {
    max-width: 100%;
    position: relative;
    .row {
      margin: 0;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    .input-group.search {
      // position: relative;
      // top:-100px;
      // left: -20px;
      &.hide {
        display: none;
      }
      input {
        border: 0;
        padding: 16px 18px;
        height: auto;
        box-shadow: none;
        -webkit-box-shadow: none;
        font-size: 18px;
        background-color: $white;
        border-radius: 0;
        font-weight: 300;
        letter-spacing: 0.5px;
      }
      button {
        border: 0;
        background-color: $white;
        padding: 15px;
        font-size: 18px;
        margin: 0;
      }
    }
    &.action {
      max-width: 90% !important;
      padding: 0;
      .row {
        > div {
          // padding: 0;
        }
      }
      button.btn,
      a.btn,
      .input-addon-select-wrapper,
      .button-group {
        margin: 0 0 20px 0;
      }
      .content-block {
        button.btn,
        a.btn,
        .input-addon-select-wrapper,
        .button-group {
          margin: auto;
        }
      }
    }
    &.banner {
      height: 70%;
      background-color: $grey;
      // background-image: url('../images/surf-4.jpg');
      background-size: cover;
      background-position: center bottom;
      padding: 0;
      margin: 0;
      color: #fff;
      h2 {
        color: #fff;
        font-size: 44px;
      }
      a.btn {
        margin-bottom: 0;
      }
    }
    &.content {
      .row.intro {
        max-width: 900px !important;
        margin: 0 auto 30px !important;
      }
      &.single-col {
        padding: 20px 0;
        .row {
          background-color: $white;
          max-width: 90%;
          margin: 0 auto;
          > div {
            padding: 0 40px;
          }
        }
      }
      &.double-col {
        padding: 120px 0 100px;
        .row {
          max-width: 900px;
          margin: 0 auto;
          > div {
            padding: 0 40px;
          }
        }
      }
      &.split-col {
        background-color: $grey;
        padding: 0;
        .row > div {
          padding: 120px 50px 100px;
        }
        .image {
          background-color: #999;
          // background-image: url("../images/surf-2.jpg");
          background-size: cover;
          background-position: center center;
        }
      }
      &.tables {
        background-color: $grey;
      }
      &.people {
        background-color: $grey;
        padding: 120px 0 100px;
        .row {
          max-width: 1200px;
          margin: 0 auto;
          .person {
            padding: 0 40px;
            img {
              max-width: 200px;
              border-radius: 200px;
              margin-bottom: 30px;
              margin-top: 20px;
            }
          }
        }
      }
      &.list {
        padding: 120px 0 100px;
        .row {
          max-width: 1200px;
          margin: 0 auto;
          .item {
            padding: 0 40px;
            .thumb {
              padding-bottom: 50%;
              background-size: cover;
              background-position: center center;
              margin-bottom: 30px;
              margin-top: 20px;
            }
          }
        }
      }
      &.large-image {
        padding: 0;
        .row {
          padding: 0;
          > div {
            padding: 0;
          }
        }
        img {
          margin-bottom: 0;
        }
      }
      &.video {
        padding: 120px 0;
        background-color: $black;
        .row {
          padding: 0;
          max-width: 1200px;
          margin: 0 auto;
          > div {
            padding: 0;
          }
        }
      }
      &.accordions {
        background-color: $grey;
        .panel-group {
        }
        .panel-group .panel {
          border: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          background: rgba(255, 255, 255, 0);
        }
        .panel-default > .panel-heading {
          background: #fff;
          border: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          padding: 30px 40px;
        }
        .panel-body {
          padding: 40px;
          border: 0;
        }
      }
      &.footer {
        background-color: $black;
        color: #ffffff;
        padding: 120px 0 100px;
        margin-top: 100px;
        .row {
          max-width: 1200px;
          margin: 0 auto;
          > div {
            padding: 0 40px;
          }
          img {
            max-width: 200px;
          }
        }
      }
    }
    &.map {
      height: 300px;
      padding: 0;
      #map-canvas {
        height: 300px;
        width: 100%;
      }
    }
  }

  .button-group {
    display: inline-block;
    font-family: "Abel", sans-serif;
    font-weight: 400;
  }

  .input-addon-select-wrapper,
  .button-group {
    position: relative;
    vertical-align: middle;
    height: 46px;
    display: inline-block;
    background-color: $pink;
    border: 1px solid $pink;
    border-radius: 3px;
    border-radius: 0;
    border-radius: 0;
    background-color: #f9f9f8;
    border-color: #d7d2cb;
    text-align: left;
    margin: 0;
    opacity: 1;
    // width: 100%;
    &:after {
      position: absolute;
      top: 40%;
      right: 12px;
      z-index: 0;
      content: "";
      margin-left: 6px;
      display: inline-block;
      border-top: 8px solid #575f65;
      border-right: 7px solid transparent;
      border-bottom: none;
      border-left: 7px solid transparent;
    }
  }

  .input-addon-select-wrapper .input-addon-select,
  button.dropdown-toggle.specialisations {
    position: relative;
    z-index: 1;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    height: 46px;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 10px 36px 10px 15px;
    color: #575f65;
    // width: 100%;
  }

  .create .input-addon-select-wrapper,
  .create .input-addon-select-wrapper .input-addon-select {
    width: 100%;
  }

  select::-ms-expand {
    display: none;
  }

  .form-control {
    border-radius: 0;
  }

  textarea:focus,
  input:focus,
  button:focus,
  .overview:focus,
  .form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  textarea:focus,
  input:focus,
  .overview:focus,
  .form-control:focus {
    border-bottom: 1px solid $pink;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .form-group p {
    margin: 0;
    font-size: 18px;
    padding: 10px;
    a {
      font-size: 14px;
      padding: 0 0;
      margin-top: 0;
      display: block;
    }
  }

  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    &.btn {
      font-family: "Abel", sans-serif;
      font-size: 16px;
      margin: 25px 0 0;
      text-transform: uppercase;
      font-weight: 400;
      padding: 12px 25px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: $white;
      border: 1px solid #eee;
      color: #666;
      font-weight: 300;
    }
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .form-group {
    p.value {
      padding: 10px 15px;
      font-size: 18px;
      line-height: 1.42857143;
      color: $black;
      border-bottom: 1px dotted #ddd;
      // text-transform: uppercase;
    }
    p.notional {
      background-color: $pink;
      color: $white;
      padding-left: 15px;
    }
    p.overview-value {
      border-bottom: 1px dotted $white;
    }
    h4 {
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 15px;
    }
    .upload {
      // background-color: $light-grey;
      margin-top: 15px;
      .fa {
        margin-left: 15px;
        font-size: 24px;
        margin-right: 10px;
      }
      input {
        margin-left: 15px;
      }
    }
  }

  input.form-control {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 1.42857143;
    color: $black;
    background-color: $light-grey;
    background-image: none;
    border: 0;
    border-bottom: 1px solid $light-grey;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    // text-transform: uppercase;
    &.h2 {
      font-size: 24px;
      color: $pink;
      margin: 0;
      margin-top: 10px;
    }
    &.edit {
      display: none;
    }
  }

  .specialisations {
    margin: 0;
    .panel {
      border: 0;
      background: transparent;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          padding: 0 15px 5px 0;
          margin: 3px 1px;
          background: $white;
          &.checked {
            background: $pink;
            color: $white !important;
            .checkbox label {
              color: $white;
              opacity: 1;
            }
          }
          .checkbox label {
            color: $grey;
            opacity: 0.5;
            margin-top: 5px;
          }
        }
      }
    }
    .panel-body {
      padding: 0 15px 20px 0;
    }
  }

  h2 .value,
  h2 input.form-control {
    text-align: center;
    background-color: transparent;
    font-size: 30px;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    padding: 10px;
    line-height: 1.42857;
  }

  h3 .value,
  h3 input.form-control {
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    max-width: auto;
    margin: 0 auto 40px;
    color: $pink;
    padding: 10px;
    line-height: 1.42857;
  }

  h2 input.form-control,
  h3 input.form-control {
    background-color: $light-grey;
  }

  h3 input.form-control {
    color: $blue;
  }

  h2 .value,
  h3 .value {
    border-bottom: 1px solid #fff;
  }

  h3 .value {
    margin-bottom: 60px;
  }

  h3 input.form-control {
    margin: 0 auto 30px;
  }

  .overview {
    background-color: $light-grey;
    border-bottom: 1px solid $light-grey;
    padding: 15px;
    line-height: 24px !important;
  }

  .overview,
  .overview-value {
    height: auto;
    overflow-y: scroll;
  }

  th {
    font-weight: 700;
  }

  .skill {
    padding: 0;
    .form-group {
      margin-bottom: 0;
    }
    p {
      float: left;
    }
  }

  .form-group {
    .progress {
      margin-bottom: 0;
      margin-top: 13px;
      .progress-bar {
        background-color: $pink;
      }
    }
    &.specialisations {
      .panel {
        border: 0;
        box-shadow: none;
        padding: 15px;
      }
    }
    i.star.fa.fa-star,
    i.star.fa.fa-star-o {
      position: relative;
      top: auto;
      left: auto;
      font-size: 16px;
      opacity: 1;
    }
    .rate {
      width: 200px;
    }
  }

  .swiper-container {
    height: 70%;
    .swiper-slide {
      background-size: cover;
      background-position: center center;
    }
  }

  .edit {
    display: none;
  }

  .search input[type="radio"] {
    position: absolute;
    visibility: hidden;
  }

  .search label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 17px 25px 25px 37px;
    margin: 10px auto 20px;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    opacity: 1;
  }

  .search :hover label {
    color: $pink;
  }

  .search .check {
    display: block;
    position: absolute;
    border: 5px solid $light-grey;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
  }

  .search:hover .check {
    border: 5px solid $pink;
  }

  .search.check::before {
    display: block;
    position: absolute;
    content: "";
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }

  input[type="radio"]:checked ~ .check {
    border: 5px solid $pink;
  }

  input[type="radio"]:checked ~ .check::before {
    background: $pink;
  }

  input[type="radio"]:checked ~ label {
    color: $pink;
  }

  /*! Switches v2.0.2 WBC */
  .switch {
    display: block;
    width: 80px;
    height: 36px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    position: relative;
    opacity: 1;
  }

  .switch:hover {
    cursor: pointer;
  }

  .switch .switch-text {
    display: inline-block;
    text-indent: -999999px;
    color: transparent;
    border: 2px solid #d7d2cb;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 36px;
    padding: 6px 0;
    font-size: 16px;
    border-radius: 24px;
    margin-top: 0;
    transition: border 0.3s ease, background 0.3s ease;
  }

  .switch .switch-text .switch-text-off,
  .switch .switch-text .switch-text-on {
    text-indent: 0;
    color: #2d373e;
    position: absolute;
    width: 44px;
    right: 3px;
    margin-top: 0;
    text-align: center;
    transition: opacity 0.3s ease;
  }

  .switch .switch-text .switch-text-on {
    right: auto;
    left: 3px;
    opacity: 0;
    color: #fff;
  }

  .switch .switch-text:after {
    content: " ";
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease, box-shadow 0.3s ease;
  }

  .switch .switch-input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
  }

  .switch .switch-input:focus + .switch-text {
    outline: none;
  }

  .is-keyboarduser .switch .switch-input:focus + .switch-text {
    outline: 2px dotted #000;
    outline-offset: 0.5rem;
  }

  .switch .switch-input:checked + .switch-text {
    border-color: $pink;
    background-color: $pink;
  }

  .switch .switch-input:checked + .switch-text .switch-text-off {
    opacity: 0;
  }

  .switch .switch-input:checked + .switch-text .switch-text-on {
    opacity: 1;
  }

  .switch .switch-input:checked + .switch-text:after {
    left: 46px;
    box-shadow: -3px 0 6px 0 rgba(0, 0, 0, 0.3);
  }

  .switch .switch-input:disabled + .switch-text {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .switch.switch-sm,
  .switch.switch-sm-xs {
    height: 30px;
    width: 70px;
  }

  .switch.switch-sm .switch-text,
  .switch.switch-sm-xs .switch-text {
    height: 30px;
    padding: 3px 0;
    font-size: 14px;
  }

  .switch.switch-sm .switch-text .switch-text-off,
  .switch.switch-sm-xs .switch-text .switch-text-off,
  .switch.switch-sm .switch-text .switch-text-on,
  .switch.switch-sm-xs .switch-text .switch-text-on {
    width: 40px;
  }

  .switch.switch-sm .switch-text:after,
  .switch.switch-sm-xs .switch-text:after {
    width: 26px;
    height: 26px;
  }

  .switch.switch-sm .switch-input:checked + .switch-text:after,
  .switch.switch-sm-xs .switch-input:checked + .switch-text:after {
    left: 42px;
  }

  .switch.switch-lg,
  .switch.switch-lg-xs {
    height: 42px;
    width: 89px;
  }

  .switch.switch-lg .switch-text,
  .switch.switch-lg-xs .switch-text {
    height: 42px;
    padding: 9px 0;
  }

  .switch.switch-lg .switch-text .switch-text-off,
  .switch.switch-lg-xs .switch-text .switch-text-off,
  .switch.switch-lg .switch-text .switch-text-on,
  .switch.switch-lg-xs .switch-text .switch-text-on {
    width: 47px;
  }

  .switch.switch-lg .switch-text:after,
  .switch.switch-lg-xs .switch-text:after {
    width: 38px;
    height: 38px;
  }

  .switch.switch-lg .switch-input:checked + .switch-text:after,
  .switch.switch-lg-xs .switch-input:checked + .switch-text:after {
    left: 49px;
  }

  .switch.switch-xl,
  .switch.switch-xl-xs {
    height: 48px;
    width: 96px;
  }

  .switch.switch-xl .switch-text,
  .switch.switch-xl-xs .switch-text {
    height: 48px;
    padding: 10px 0;
    font-size: 18px;
  }

  .switch.switch-xl .switch-text .switch-text-off,
  .switch.switch-xl-xs .switch-text .switch-text-off,
  .switch.switch-xl .switch-text .switch-text-on,
  .switch.switch-xl-xs .switch-text .switch-text-on {
    width: 48px;
  }

  .switch.switch-xl .switch-text:after,
  .switch.switch-xl-xs .switch-text:after {
    width: 44px;
    height: 44px;
  }

  .switch.switch-xl .switch-input:checked + .switch-text:after,
  .switch.switch-xl-xs .switch-input:checked + .switch-text:after {
    left: 50px;
  }

  @media (min-width: 768px) {
    .switch.switch-sm-sm {
      height: 30px;
      width: 70px;
    }

    .switch.switch-sm-sm .switch-text {
      height: 30px;
      padding: 3px 0;
      font-size: 14px;
    }

    .switch.switch-sm-sm .switch-text .switch-text-off,
    .switch.switch-sm-sm .switch-text .switch-text-on {
      width: 40px;
    }

    .switch.switch-sm-sm .switch-text:after {
      width: 26px;
      height: 26px;
    }

    .switch.switch-sm-sm .switch-input:checked + .switch-text:after {
      left: 42px;
    }

    .switch.switch-md-sm {
      width: 80px;
      height: 36px;
    }

    .switch.switch-md-sm .switch-text {
      height: 36px;
      padding: 6px 0;
      font-size: 16px;
    }

    .switch.switch-md-sm .switch-text .switch-text-off,
    .switch.switch-md-sm .switch-text .switch-text-on {
      width: 44px;
    }

    .switch.switch-md-sm .switch-text:after {
      width: 32px;
      height: 32px;
    }

    .switch.switch-lg-sm {
      height: 42px;
      width: 89px;
    }

    .switch.switch-lg-sm .switch-text {
      height: 42px;
      padding: 9px 0;
    }

    .switch.switch-lg-sm .switch-text .switch-text-off,
    .switch.switch-lg-sm .switch-text .switch-text-on {
      width: 47px;
    }

    .switch.switch-lg-sm .switch-text:after {
      width: 38px;
      height: 38px;
    }

    .switch.switch-lg-sm .switch-input:checked + .switch-text:after {
      left: 49px;
    }

    .switch.switch-xl-sm {
      height: 48px;
      width: 96px;
    }

    .switch.switch-xl-sm .switch-text {
      height: 48px;
      padding: 10px 0;
      font-size: 18px;
    }

    .switch.switch-xl-sm .switch-text .switch-text-off,
    .switch.switch-xl-sm .switch-text .switch-text-on {
      width: 48px;
    }

    .switch.switch-xl-sm .switch-text:after {
      width: 44px;
      height: 44px;
    }

    .switch.switch-xl-sm .switch-input:checked + .switch-text:after {
      left: 50px;
    }
  }

  @media (min-width: 992px) {
    .switch.switch-sm-md {
      height: 30px;
      width: 70px;
    }

    .switch.switch-sm-md .switch-text {
      height: 30px;
      padding: 3px 0;
      font-size: 14px;
    }

    .switch.switch-sm-md .switch-text .switch-text-off,
    .switch.switch-sm-md .switch-text .switch-text-on {
      width: 40px;
    }

    .switch.switch-sm-md .switch-text:after {
      width: 26px;
      height: 26px;
    }

    .switch.switch-sm-md .switch-input:checked + .switch-text:after {
      left: 42px;
    }

    .switch.switch-md-md {
      width: 80px;
      height: 36px;
    }

    .switch.switch-md-md .switch-text {
      height: 36px;
      padding: 6px 0;
      font-size: 16px;
    }

    .switch.switch-md-md .switch-text .switch-text-off,
    .switch.switch-md-md .switch-text .switch-text-on {
      width: 44px;
    }

    .switch.switch-md-md .switch-text:after {
      width: 32px;
      height: 32px;
    }

    .switch.switch-lg-md {
      height: 42px;
      width: 89px;
    }

    .switch.switch-lg-md .switch-text {
      height: 42px;
      padding: 9px 0;
    }

    .switch.switch-lg-md .switch-text .switch-text-off,
    .switch.switch-lg-md .switch-text .switch-text-on {
      width: 47px;
    }

    .switch.switch-lg-md .switch-text:after {
      width: 38px;
      height: 38px;
    }

    .switch.switch-lg-md .switch-input:checked + .switch-text:after {
      left: 49px;
    }

    .switch.switch-xl-md {
      height: 48px;
      width: 96px;
    }

    .switch.switch-xl-md .switch-text {
      height: 48px;
      padding: 10px 0;
      font-size: 18px;
    }

    .switch.switch-xl-md .switch-text .switch-text-off,
    .switch.switch-xl-md .switch-text .switch-text-on {
      width: 48px;
    }

    .switch.switch-xl-md .switch-text:after {
      width: 44px;
      height: 44px;
    }

    .switch.switch-xl-md .switch-input:checked + .switch-text:after {
      left: 50px;
    }
  }

  @media (min-width: 1200px) {
    .switch.switch-sm-lg {
      height: 30px;
      width: 70px;
    }

    .switch.switch-sm-lg .switch-text {
      height: 30px;
      padding: 3px 0;
      font-size: 14px;
    }

    .switch.switch-sm-lg .switch-text .switch-text-off,
    .switch.switch-sm-lg .switch-text .switch-text-on {
      width: 40px;
    }

    .switch.switch-sm-lg .switch-text:after {
      width: 26px;
      height: 26px;
    }

    .switch.switch-sm-lg .switch-input:checked + .switch-text:after {
      left: 42px;
    }

    .switch.switch-md-lg {
      width: 80px;
      height: 36px;
    }

    .switch.switch-md-lg .switch-text {
      height: 36px;
      padding: 6px 0;
      font-size: 16px;
    }

    .switch.switch-md-lg .switch-text .switch-text-off,
    .switch.switch-md-lg .switch-text .switch-text-on {
      width: 44px;
    }

    .switch.switch-md-lg .switch-text:after {
      width: 32px;
      height: 32px;
    }

    .switch.switch-lg-lg {
      height: 42px;
      width: 89px;
    }

    .switch.switch-lg-lg .switch-text {
      height: 42px;
      padding: 9px 0;
    }

    .switch.switch-lg-lg .switch-text .switch-text-off,
    .switch.switch-lg-lg .switch-text .switch-text-on {
      width: 47px;
    }

    .switch.switch-lg-lg .switch-text:after {
      width: 38px;
      height: 38px;
    }

    .switch.switch-lg-lg .switch-input:checked + .switch-text:after {
      left: 49px;
    }

    .switch.switch-xl-lg {
      height: 48px;
      width: 96px;
    }

    .switch.switch-xl-lg .switch-text {
      height: 48px;
      padding: 10px 0;
      font-size: 18px;
    }

    .switch.switch-xl-lg .switch-text .switch-text-off,
    .switch.switch-xl-lg .switch-text .switch-text-on {
      width: 48px;
    }

    .switch.switch-xl-lg .switch-text:after {
      width: 44px;
      height: 44px;
    }

    .switch.switch-xl-lg .switch-input:checked + .switch-text:after {
      left: 50px;
    }
  }
  .sub-nav {
    background: white;
  }
  .job-type--descriptor__fixed-term {
    margin-left: 15px;
    display: block;
    padding: 10px 0 0 0;
  }

  .cursor-pointer {
    cursor: pointer;
  }
  .sourcr-loading--overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(black, 0.2);
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    .sourcr-loading--content {
      padding: 20px;
      background: white;
      text-align: center;
    }
  }
  .Toastify__toast-container.Toastify__toast-container--top-center {
    top: 25%;
  }
  #app .Toastify__progress-bar--default {
    background: linear-gradient(to right, $pink, darken($pink, 10%));
  }

  .react-rater-star.is-active-half {
    text-shadow: none !important;
  }
}
