/* col   s */
$white: #ffffff;
$grey: #333333;
$light-grey: #f5f5f5;
$black: #2b2b2b;
$pink: #e84778;
$blue: #74b3ce;
$aqua: #508991;
$navy: #172a3a;
$purple: #6d466b;
$green: #39b54a;
$yellow: #f7941d;
$red: #dc3545;
$orange: #f34607;
$gold: #f4bc86;
$activeGold: #ed9035;
