body {
  .box {
    width: 100%;
    margin-top: $ver-md;
    text-align: left;
  }

  .title {
    @include h3;
  }

  .iframeBox {
    position: relative;
    margin: $ver-md 0;
    padding-top: 56.25%;
    background-color: $black;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .hiddenMobile {
    @include mobile {
      display: none;
    }
  }

  .hiddenDesktop {
    @include desktop {
      display: none;
    }
  }
}