@import "variables";

:global {
  #page-tab-panel-job-description {
    .psa-document-url {
      margin: 0 5px;
      padding: 2px 5px;
      white-space: nowrap;
      border: 1px solid $light-grey;
    }
  }

  .job-application-modal {
    .candidate--linkedin-url {
      display: block;
      position: absolute;
      top: -80px;
      left: 10px;
    }
  }
}
