body {
  .modal {
    max-width: 1024px;
  }

  .form {
    @include modalInnerApp;
    flex-direction: column;
    align-items: center;
  }

  .close {
    @include modalCloseButtonInnerApp;
  }

  .title {
    @include modalInnerAppTitle;
  }

  .box {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
  }

  .dropDown {
    margin: $ver-md 0;
    max-width: 400px;
    flex: 1 1 auto;
  }

  .dropDownHeight {
    max-height: 106px;
  }

  .buttonBox {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: $ver-md;
  }

  .button {
    margin: 0 $gap-md;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}