:export {
  stopColor: $warning;
}
.ratingContainer {
}
$ratingScreenBreak: 355px;
.ratingBox {
  display: flex;
  align-items: center;
  @include mobile($ratingScreenBreak) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.rating {
  display: flex;
  align-items: center;
  svg {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    stroke-width: 2px;
  }
  @include mobile($ratingScreenBreak) {
    margin-top: 10px;
  }
}
.ratingSmall {
  svg {
    width: 15px;
    height: 15px;
    margin-right: 4px;
  }
}
.star {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding:0;
  margin: 0;
  svg {
    color: $gray-500;
    transition: color ease-out $time;
  }
  &:focus {
    outline: none;
  }
}

.isError {
  animation: shake $time-long cubic-bezier(.36, .07, .19, .97) both;
  svg {
    stroke: $danger;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.starCompleted {
  svg {
    stroke: $warning;
    fill: $warning;
  }
}
.starPartialCompleted {
  svg {
    stroke: $warning;
  }
}
.starActive {
  svg {
    stroke: $warning;
  }
}
.starFixed {
  cursor: inherit;
}
.ratingLabel {
  flex: 0 0 auto;
  width: 240px;
  @include mobile(450px) {
    width: 180px;
  }
}

.required {
  @include inputRequired();
}

.error {
  @include inputError();
  margin-left: 0;
}