.alert {
  @include OpenSans;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  margin: $ver-md 0;
  padding: $ver-md;

  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  transition: opacity $time ease-out;
  position: relative;
  &Success {
    @include alertSuccess;
  }
  &Warning {
    @include alertWarning;
  }
  &Error {
    @include alertError;
  }
  &Info {
    @include alertInfo;
  }
}
.alertWithClose {
  padding-right: 35px;
}
.close {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.2;
  color: $gray-700;
  &:hover {
    opacity: 1;
  }
  svg {
    width: 10px;
  }
}