body {
  .title {
    text-align: center;
  }

  .row {
    display: flex;
    @include mobile(1100px) {
      flex-direction: column;
    }
    @include desktop(1100px) {
      align-items: flex-start;
    }
    margin: $ver-md 0;
  }

  .cardBox {
    flex: 1 1 50%;

    @include desktop(1100px) {
      margin: 0 $gap-md;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @include mobile(1100px) {
      margin-bottom: $ver-md;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .card {
    background-color: $white;
    padding: 40px;
    margin: $ver-md 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cardNps {
    flex: 0 1 32%;
  }

}

.legendBox {
  align-items: center;
  display: flex;
  font-size: 11px;
  margin-left: 35px;
}

.legendItem {
  align-items: center;
  display: flex;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

$lineA: $black;
$lineB: $primary;
$lineC: $accent;

.legend {
  width: 33px;
  height: 2px;
  margin-right: 8px;
}

.legendA {
  background-color: $lineA;
}

.legendB {
  background-color: $lineB;
}

.legendC {
  background-color: $lineC;
}

.card {
  :global {
    .ct-series-a {
      path {
        stroke: $lineA !important;
      }
    }

    .ct-series-b {
      path {
        stroke: $lineB !important;
      }
    }

    .ct-series-c {
      path {
        stroke: $lineC !important;
      }
    }

    .ct-vertical {
      font-size: 12px;
      stroke: black;
    }

    .ct-horizontal {
      font-size: 8px;
      stroke: black;
    }
  }
}

.responseBox {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
  border-top: $border;

  &:last-child {
    border-bottom: $border;
  }

  text-transform: uppercase;
}

.avatar {
  width: 40px;
  height: 40px;
}

.response {
  margin-left: 20px;
}

.score {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  @include Montserrat();
}

.marginBottom {
  margin-bottom: 20px;
}

.comment {
  line-height: 24px;
  font-size: 12px;
}

.sign {
  font-size: 14px;
  font-weight: 600;
}

.date {
  color: $gray-500;
}

.npsTitle {
  display: flex;
  justify-content: space-between;
}

.bench {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

body {
  .selectRanking {
    width: 180px;
  }
}
.npsRow {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  height: 63px;
  border-top: $border;
  &:last-child {
    border-bottom: $border;
  }
  font-size: 14px !important;
}
.rowIndex {
  width: 40px;
  flex: 0 0 auto;
}
.rowName {
  flex: 1 1 auto;
  width: 150px;
  color: $accent;
}
.npsScore,
.vsBench,
.responses {
  flex: 0 0 auto;
}

.npsScore {
  width: 170px;
}

.responses {
  width: 128px;
}
.vsBench {
  width: 90px;
  display: flex;
  justify-content: center;
}
.increase{
  color: $success;
}
.decrease {
  color: $danger;
}