.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: $ver-md 0;
}

.items {
  display: flex;
  align-items: flex-start;
  @include mobile {
    margin: $ver-sm $gap-md $ver-sm 0;
  }
  flex: 1 1 auto;
}

.page {
  display: flex;
  align-items: flex-start;
  @include mobile {
    margin: $ver-sm 0;
  }
  flex: 1 1 auto;
  justify-content: flex-end;
}
