.loader {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.form {
  @include modalInnerApp;
}
.close {
  @include modalCloseButtonInnerApp;
}
.title {
  @include modalInnerAppTitle;
}

.sendCode {
  margin: 0 $gap-sm 0 0;
  color: $black;
  border-color: $gray-500;

  &:focus,
  &:hover {
    background-color: transparent;
    color: $black;
    border-color: $gray-500;
  }
}
.subTitle {
  font-weight: 500;
  font-size: 24px;
  @include Montserrat;
  display: flex;
  align-items: center;
}
.marginBottom {
  margin-bottom: 20px;
}
.important {
  font-weight: 700;
}
.text {
  text-align: center;
}
.li {
  @include li;
}
.liContent {
  display: flex;
  justify-content: space-between;
}
.date {
  font-style: italic;
  color: $gray-500;
}