:global {
  body .modal {
    height: 100vh !important;
    max-height: 100vh !important;
    .modal-header {
      margin: 60px 0 0 0;
    }
    .modal-body {
      padding: 50px 40px;
    }
    .modal-dialog {
      width: 90vw;
      max-width: 1200px;
      margin-top: 80px;
    }
    .modal-title {
      display: block;
      width: 100%;
      color: #212529;
      font-size: 32px;
      text-align: center;
    }
    .modal-content {
      max-height: 90vh;
      overflow-y: auto;
    }
    .modal-header {
      border-bottom: none;
      .close {
        z-index: 1;
        position: absolute;
        right: 16px;
        width: 100px;
        height: 100px;
        margin-top: -60px;
        svg {
          width: 50px;
          height: 50px;
        }
        span {
          display: none;
        }
      }
    }
  }
  .confirmations-title {
    margin-bottom: 50px;
    font-size: 22px;
    text-align: center;
  }
}
.buttonBox {
  display: flex;
  justify-content: center;
}
.button {
  margin: 0 $gap-md;
}