body {
  .ratingBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 15px 0;
    text-align: center;
    @include desktop {
      align-items: flex-start;
      .title {
        @include h3;
      }
    }

    .header {
      margin-top: 0;
    }
  }

  .buttonGroup {
    display: flex;
    flex-wrap: wrap;
    margin: $ver-md 0 $ver-lg 0;
    @include mobile {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .desktopHidden {
    @include desktop {
      display: none;
    }
  }
}